<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head', { title: "Twitter user search" }) %>
  </head>
  <script>
    var channels = [];
  </script>
  <body class="bg-[#1b1b1b] text-white">
    <%- include('../../partials/navbar') %>
    <main class="m-4 text-center">
      <div class="bg-black p-4">
        <form class="relative">
          <input
            class="block w-full rounded-lg border-neutral-600 bg-neutral-800 p-4 text-sm text-white placeholder-neutral-400 focus:border-blue-500 focus:ring-blue-500"
            placeholder="Search for a Twitter user..."
            id="search"
          />
          <button
            class="leading-0 absolute top-3 right-2.5 block h-7 w-7 text-center text-xl text-white hover:text-neutral-400 focus:outline-none"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="search"
              class="w-6 text-xl"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
              ></path>
            </svg>
          </button>
        </form>
      </div>
      <div class="mt-4 flex flex-col gap-3">
        <% [1, 2, 3, 4, 5].map(index => { %>
        <a
          class="channel items-center bg-black p-4 hover:scale-[1.025]"
          style="display: none"
        >
          <img
            src="https://yt3.ggpht.com/ytc/AMLnZu9ouu2eBFlCyh6lORj8YUCdNENJRst9IoU5sYf1Ig=s240-c-k-c0xffffffff-no-rj-mo"
            class="channel-icon rounded-full"
            width="80"
          />
          <div class="ml-3 text-left">
            <h1 class="channel-name text-4xl font-bold">MrBeast</h1>
            <p class="channel-id">100M subscribers</p>
          </div>
        </a>
        <% }) %>
      </div>
    </main>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $("form").submit(function (event) {
        event.preventDefault();

        var search = $("#search").val();

        channelSearch(search);
      });

      function channelSearch(search) {
        fetch(
          "https://livecounts.xyz/api/twitter-live-follower-count/search/" +
            search
        )
          .then((res) => res.json())
          .then((data) => {
            const elems = $(".channel");
            for (let i = 0; i < data.results.length; i++) {
              const elem = elems[i];
              elem.href = `/twitter/user/${data.results[i].username}`;
              elem.style.display = "flex";

              const icon = elem.querySelector(".channel-icon");
              icon.src = data.results[i].pfp;

              const name = elem.querySelector(".channel-name");
              name.textContent = data.results[i].name;

              const id = elem.querySelector(".channel-id");
              id.textContent = "@" + data.results[i].username;
            }
          });
      }
    });
  </script>
</html>
