<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head', { title: "Global Clicker 1 statistics" })
    %>
    <link rel="stylesheet" href="/ess/odometer.css" />
    <script src="/ess/odometer.js"></script>
    <script src="https://code.highcharts.com/10.3.3/highcharts.js"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
    </style>
  </head>
  <body class="bg-[#1b1b1b] text-white">
    <%- include('../../partials/navbar') %>
    <main class="m-4 text-center">
      <div class="flex flex-col items-center bg-black p-4">
        <img src="/public/globe.png" width="80" />
        <h1 class="mt-2 text-2xl">Global Clicker 1</h1>
        <span
          id="count"
          class="odometer font-['Roboto'] text-7xl leading-[1.05em] sm:text-7xl md:text-[5.5rem] lg:text-8xl xl:text-9xl"
          >0</span
        >
        <p class="mt-2 text-sm">Clicks</p>
      </div>
      <div class="mt-4 flex flex-col items-center bg-black p-4">
        <div id="chart" class="w-full"></div>
      </div>
    </main>
  </body>
  <script>
    const lineColor = "#858585";
    const chart = new Highcharts.chart({
      chart: {
        renderTo: "chart",
        type: "line",
        zoomType: "x",
        backgroundColor: "transparent",
        plotBorderColor: "transparent",
        animation: true,
      },
      title: {
        text: "",
      },
      xAxis: {
        type: "datetime",
        tickPixelInterval: 500,
        labels: {
          style: {
            color: lineColor,
          },
        },
        gridLineColor: lineColor,
        lineColor: lineColor,
        minorGridLineColor: "#858585",
        tickColor: lineColor,
        title: {
          style: {
            color: lineColor,
          },
        },
      },
      yAxis: {
        title: {
          text: "",
        },
        labels: {
          style: {
            color: lineColor,
          },
        },
        gridLineColor: lineColor,
        lineColor: lineColor,
        minorGridLineColor: "#858585",
        tickColor: lineColor,
      },
      credits: {
        enabled: true,
        text: "Livecounts.tk",
        href: "https://livecounts.tk",
      },
      tooltip: {
        shared: true,
        formatter: function () {
          var index = this.points[0].series.xData.indexOf(this.x);
          var lastY = this.points[0].series.yData[index - 1];
          var dif = this.y - lastY;
          var r =
            Highcharts.dateFormat("%A %b %e, %H:%M:%S", new Date(this.x)) +
            '<br><span style="color:black">\u25CF </span>' +
            this.points[0].series.name +
            ": <b>" +
            Highcharts.numberFormat(this.y, 0);
          if (dif < 0) {
            r +=
              '<span style="color:#ff0000;font-weight:bold;"> (' +
              Highcharts.numberFormat(dif, 0) +
              ")</span>";
          }
          if (dif > 0) {
            r +=
              '<span style="color:#00bb00;font-weight:bold;"> (+' +
              Highcharts.numberFormat(dif, 0) +
              ")</span>";
          }
          return r;
        },
      },
      series: [
        {
          showInLegend: false,
          name: "Global Clicker 1",
          marker: { enabled: false },
          color: "red",
          backgroundColor: "white",
          lineWidth: 3,
        },
      ],
    });

    setInterval(() => {
      fetch("/api/clickers/global/1")
        .then((res) => res.json())
        .then((data) => {
          document.getElementById("count").textContent = data.count;

          if (chart.series[0].points.length === 3600)
            chart.series[0].data[0].remove();
          chart.series[0].addPoint([Date.now(), data.count]);
        });
    }, 2000);
  </script>
</html>
