<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Livecounts.tk - <%= title %></title>
<meta name="title" content="Livecounts.tk - <%= title %>"></meta>
<meta name="description" content="A statistics website that aims for a simple design."></meta>
<meta property="twitter:title" content="Livecounts.tk - <%= title %>"></meta>
<meta property="og:type" content="website">
<meta property="og:url" content="https://beta.livecounts.tk">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://beta.livecounts.tk">
<meta property="og:description" content="A statistics website that aims for a simple design.">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/ess/tailwind.css">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
/>
<link
  rel="shortcut icon"
  href="https://icons.getbootstrap.com/assets/icons/graph-up-arrow.svg"
  type="image/x-icon"
/>
