<nav class="flex flex-row items-center justify-between bg-black p-2 px-1">
  <a href="/" class="flex items-center">
    <img src="/public/logo.png" width="60" />
    <p class="text-3xl">Livecounts.tk</p>
  </a>
  <div class="pr-2.5 text-lg">
    <a
      class="aria-disabled:cursor-default aria-disabled:opacity-50"
      aria-disabled="true"
      >Compare</a
    >
  </div>
</nav>
